.App {
  text-align: center;
}

.userboard {
  width: 50%;
  margin: 0 auto;
}

.userboard-header {
  margin: 20px;
}

.userboard-card {
  margin: 30px 10px;
}

.modal.show .modal-dialog {
  max-width: 1024px;
  text-align: center;
  padding: 30px;
}